h2.appsHeader {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

div.banner-row {
    display: flex;
}

.icon {
    width: 24px;
    margin-right: .5rem;
    margin-top: -4px;
}

span.header-link {
    margin-left: auto;
}

div.appInfo {
    margin-bottom: 40px;
}

div.myPhoto {
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

div.myPhoto img {
    border-radius: 6px;
}

div.footer {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

.lead {
    margin-bottom: 3rem;
}

.cover-heading {
    margin-bottom: 4rem;
    text-align: center;
}

.well {
    background-color: inherit;
}
